@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #333;
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

.line-through {
  text-decoration: line-through;
  color: #666;
}

.active {
  background-color: #ff9900;
  color: white;
}

.hide-button {
  display: none;
}